<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sticky Footer</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="sticky-wrapper">
        <div class="scroll-view">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus, nisi at pharetra cursus, diam mauris sagittis quam, vel feugiat turpis ipsum eget neque. Duis dolor est, ullamcorper vel commodo nec, porttitor eget turpis. Nunc vitae est faucibus, suscipit tortor vitae, mollis arcu. Etiam elementum pharetra diam non ornare. Maecenas iaculis tincidunt vestibulum. Sed tempus consectetur lectus quis venenatis. Vivamus rhoncus ex vitae urna pulvinar, vitae blandit metus dapibus. Phasellus non justo non sapien sagittis tincidunt in a mauris. In dui metus, scelerisque non hendrerit volutpat, maximus eu arcu. Quisque mollis odio nec sollicitudin posuere. Quisque facilisis in mi in facilisis. Aenean fermentum metus in aliquet vulputate. Cras egestas tempor aliquam. Aenean viverra, justo eget viverra rhoncus, sem nisi viverra urna, sit amet blandit tellus ligula non nisl. Pellentesque a quam sapien. Maecenas id semper mi.</p>

            <p>Nullam eget scelerisque augue, a ultrices nibh. Pellentesque at odio lectus. Donec augue felis, suscipit a metus eu, feugiat varius ipsum. Nulla blandit, sem sed commodo dictum, nisl nisi pharetra ex, eu sollicitudin elit augue non ipsum. Mauris eleifend tristique lorem, non auctor mauris consectetur sed. Maecenas suscipit vehicula nulla, et feugiat ligula tristique eget. Cras porta tortor id consequat finibus. In urna tortor, maximus sed facilisis sed, maximus ullamcorper mi. Integer viverra urna quis urna dictum finibus. Mauris ipsum nibh, ultricies ut diam eget, mollis convallis ipsum.</p>

            <p>Mauris commodo justo metus, in tristique arcu porttitor non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque iaculis eu neque eu luctus. Ut bibendum mauris libero, at mattis ex mattis vel. Quisque id felis quis purus tempus consequat. Praesent sit amet scelerisque velit, eu placerat quam. Suspendisse euismod, eros facilisis pulvinar dignissim, magna neque placerat orci, sed scelerisque sem massa at nibh. Donec nec elit purus. Curabitur nec massa pretium, auctor nisl nec, bibendum augue.</p>

            <p>Cras odio purus, hendrerit sit amet nunc tempus, iaculis rhoncus orci. Proin vel imperdiet erat, eu suscipit arcu. Proin sed faucibus purus. Integer euismod ipsum et nulla vehicula euismod. Vivamus molestie velit nisi. Mauris at imperdiet est. Praesent augue massa, finibus non auctor quis, vestibulum in ex. Morbi eget lorem massa. Quisque maximus, turpis non consectetur suscipit, nisi odio congue lectus, ornare gravida dui risus ac sem. Ut mi ante, bibendum a leo non, mattis varius purus. Phasellus leo ante, tempor id enim sit amet, interdum rutrum mauris. Cras et nibh lacinia, eleifend tellus eget, vehicula neque. Aliquam tincidunt, arcu sagittis blandit molestie, mi mauris convallis lorem, sit amet tincidunt orci mi sollicitudin felis. Vivamus mollis ornare placerat. In in leo lorem.</p>

            <p>Aenean sit amet ipsum non risus fringilla lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque placerat dignissim orci. Mauris vel mi ante. Quisque accumsan enim et purus ultrices, et commodo purus pulvinar. Aenean a vestibulum leo. Donec a nunc ligula. Sed vel purus a arcu fringilla sollicitudin. Curabitur quis turpis sed nibh lobortis malesuada. Nunc eget tellus sit amet est tempor consectetur quis vitae urna. Aenean viverra efficitur nibh quis luctus. Donec bibendum mi eu ipsum aliquet, vitae rutrum mauris tincidunt. Aliquam sit amet mauris ligula.</p>

        </div>
        <footer class="footer"></footer>
    </div>
</body>
</html>